/* vs-code theme: https://github.com/dracula/visual-studio-code/blob/master/src/dracula.yml */

body {
    font-family: Roboto,sans-serif;
    font-size:  1rem;
    max-width: 42rem;
    padding: 1rem;
    line-height: 1.5;
    margin: auto;
  }
  
  body .embedded-doc .doc-content {
    margin-top: 1rem;
    margin-right: 0px;
    max-width: 100%;
    padding: 0px;
  }
  
  #dotplanContainer {
    padding: 1px;
  }
  
  .dotplanIsLoading {
    visibility: hidden;
    height: 0;
  }
  
  ::selection {
    background: #44475A75;
  }
  
  body {
    background: #1e2124;
    color:      #F8F8F2;
  }
  
  pre {
    background-color: #3c3836;
    padding: 1em;
    border: 0;
  }
  
  a, a:active, a:visited {
    color: #9f99de;
  }
  
  .site-title > a {
    text-decoration: none;
    color: #420599;
  }
  
  h1 {
    margin-bottom: 0.25rem;
    margin-top: 0rem;
  }
  
  h1 {
    font-size: 2rem;
    margin-bottom: 0.25rem;
    margin-top: 0rem;
  }
  
  h2 {
    font-size: 1.6rem;
    color: #9c57ff;
  
  }
  
  
  h3, h4, h5 { 
    /* color: #FF79C6; */
    /* font-family: Menlo, Monaco, 'Courier New', monospace; */
    margin-bottom: .25rem;
    color: #9c57ff;
  }
  
  blockquote {
    border-left: 1px solid #BD93F9;
    margin: 20px 10px;
    padding: 0px 10px;
    /* color: #BD93F9; */
  }
  
  .meta { 
    /* font-family: Menlo, Monaco, 'Courier New', monospace; */
    margin-bottom: .25rem;
    color: #a8b2cf;
  }
  
  ul.flat {
    margin: 0;
    padding: 0;
  }
  
  ul.flat li {
    display: inline-block;
    list-style: none;
    margin-left: 0;
  }
  
  .header nav ul.flat {
    padding: 0;
  }
  
  .header nav ul.flat li {
    display: inline-block;
    /* list-style: none; */
    margin-left: 0;
    margin-right: 10px;
    margin-top: 10px;
  }
  
  .header .site-description {
    display: flex;
    justify-content: space-between;
  }
  
  .site-description > h2 { 
    margin: 0
  }
  
  .header .site-description nav {
    margin: 0;
    padding: 0;
    border: none;
    min-width: 50px;
    margin-left: 15px;
  }
  
  .header .site-description nav ul svg {
    max-height: 15px;
  }
  
  .fluff-miscellanea { 
    font-size: 12px;
  }
  
  .fluff-miscellanea span a { 
    padding-right: 5px;
  }
  
  .header { 
    margin-bottom: 0.3rem;
  }
  
  .post { 
    margin-top: 0.5rem;
  }
  
  .secret {
    font-size: 0;
  }
  
  
  subtitle { 
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 1rem;
    text-align: center;
    color: #9099b6;
    display: block;
    width: 100%;
    margin:auto;
    max-width: 100%;
  }
  .subscribe-beg > a{ 
    color: #69FF94;
  }
  
  img {
    width: 100%;
     /*height: 100%;*/
  }
